# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\17347\OneDrive - Michigan State University\CSE 331-DESKTOP-P3EVCRP\Project 1 - Spring 21 Doubly Linked Lists Starter Code\Project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
